.elements {
    width: 300px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.elem {
    border: solid gray 1px;
    border-radius: 50%;
    padding: 9px 14px;
    cursor: pointer;
}
